.AI-question-history-ext-root {
    position: relative;
}

/* 打开面板按钮 */
.open-panel-btn{

    --open-panel-btn-width: 50px; 

    width: var(--open-panel-btn-width);
    height: var(--open-panel-btn-width);

    font-size: calc(var(--open-panel-btn-width)*0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
 

    position: fixed;

    background: rgba(65, 64, 64, 0.7);
    border-radius: 50%;

    z-index: 1001;

}

/* 面板 */
.user-message-panel {
    box-sizing: border-box;

    --panel-width: 500px;
    width: var(--panel-width);
    height: 100vh;

    position: fixed;
    
    background-color:floralwhite;
    border-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
    padding: 15px 10px;
    /* padding-bottom: 50px; */

    display: flex;
    flex-direction: column;

    z-index: 1000;
}
.user-message-panel.collapsed{
    display: none;
}

.message-counter{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.user-message-container{
    flex: 1;
    overflow-y: auto;  
    padding: 5px 20px;
    /* min-height: 0; */
}

.user-message {

    height: auto;
    max-height: calc(1.2em*4);
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightblue;    
    margin-bottom: 20px;
    padding: 5px 15px;
    padding-bottom: 10px;
    font-size: 90%;
    position: relative; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;

    word-break: break-all;
    overflow-wrap: anywhere;
}
.user-message.expanded{
    max-height: none;
    line-clamp: unset;
}

.message-expand-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
}

/* 一键到顶/底按钮 */
.scroll-btn-container{
    position: absolute;
    bottom: 50%;
    transform: translate(0,50%);
    left: 2px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px dotted black;
    padding: 3px;
    border-radius: 6px;
}
.scroll-to-top-btn,
.scroll-to-down-btn{
    opacity: 1;
    border-radius: 6px;
    border: 1px dotted black;
    height: 22px;
    
}
.scroll-to-down-btn-text,
.scroll-to-top-btn-text{
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.toggle-layout-mode-btn{
    /* transform: translateX(-50%); */
    bottom: 10px;
    align-self: center;
    /* width: auto; */
}